<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My title here</title>
    <meta name="description" content="My description here">
    <link rel="icon" href="/client/favicon.ico">
    <link rel="apple-touch-icon" href="/client/apple-touch-icon.png" sizes="180x180">
    <link rel="mask-icon" href="/client/mask-icon.svg" color="#FFFFFF">
    <meta name="theme-color" content="#ffffff">
    <script type="module" crossorigin src="/client/assets/index-d0c9d9c3.js"></script>
    <link rel="stylesheet" href="/client/assets/index-44adaf19.css">
    <link rel="manifest" href="/client/manifest.webmanifest">
    <script id="vite-plugin-pwa:register-sw" src="/client/registerSW.js"></script>
</head>
<body class="h-screen">
    <div id="app" class="h-full"></div>

</body>
</html>
